In [1]:
#Import necessary packages
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
# Loading the creditcard dataset
creditcard_data = pd.read_csv("creditcard.csv")

In [3]:
#printing the first five rows of the creditcard dataset
creditcard_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
#printing the last five rows of the creditcard dataset
creditcard_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1981,1524,-0.340622,1.132232,1.291494,0.062313,0.016387,-0.977070,0.723755,-0.074630,-0.396655,...,-0.262948,-0.688785,-0.010937,0.334061,-0.160025,0.071779,0.245128,0.098336,5.35,0.0
1982,1525,-1.842696,1.740641,0.861526,-0.856315,-0.655376,-0.842786,0.198563,0.602764,0.455595,...,-0.213609,-0.400617,0.030013,0.512611,-0.077087,0.286218,0.586012,0.352610,1.00,0.0
1983,1525,-0.480693,0.646091,1.577264,-0.084411,-0.305958,-0.534739,0.860346,-0.028569,-0.800705,...,0.121681,0.175190,0.035986,0.557665,-0.112301,0.337154,-0.015602,0.051504,80.70,0.0
1984,1525,-0.342132,1.091125,1.282729,0.068076,-0.022498,-0.996727,0.676304,-0.042250,-0.312036,...,-0.269850,-0.734148,-0.007354,0.319161,-0.179146,0.073683,0.241932,0.097139,3.59,0.0
1985,1526,-0.854343,1.382948,1.278665,2.914727,-0.183139,-0.349329,0.274566,0.435277,-1.576521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#printing the dimensions of the creditcard data set
creditcard_data.shape

(1986, 31)

In [6]:
#printing the information about the creditcard dataset
creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    1986 non-null   int64
 1   V1      1986 non-null   float64
 2   V2      1986 non-null   float64
 3   V3      1986 non-null   float64
 4   V4      1986 non-null   float64
 5   V5      1986 non-null   float64
 6   V6      1986 non-null   float64
 7   V7      1986 non-null   float64
 8   V8      1986 non-null   float64
 9   V9      1986 non-null   float64
 10  V10     1986 non-null   float64
 11  V11     1986 non-null   float64
 12  V12     1986 non-null   float64
 13  V13     1986 non-null   float64
 14  V14     1985 non-null   float64
 15  V15     1985 non-null   float64
 16  V16     1985 non-null   float64
 17  V17     1985 non-null   float64
 18  V18     1985 non-null   float64
 19  V19     1985 non-null   float64
 20  V20     1985 non-null   float64
 21  V21     1985 non-null   float64
 22  V22     1985 non-null   float64
 23  V23     1985 non-null   float64
 24  V24     1985 non-null   float64
 25  V25     1985 non-null   float64
 26  V26     1985 non-null   float64
 27  V27     1985 non-null   float64
 28  V28     1985 non-null   float64
 29  Amount  1985 non-null   float64
 30  Class   1985 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 481.1 KB

In [7]:
#counting the no.of occurances of the null values in each column
creditcard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [12]:
#extracting the duplicate rows from the creditcard dataset
duplicate =creditcard_data[creditcard_data.duplicated()]

In [13]:
#printing the dimensions of the duplicate data frame
duplicate.shape

(13, 31)

In [14]:
#removing the duplicate rows from the pandas creditcard_data dataframe
creditcard_data.drop_duplicates(inplace=True)

In [15]:
#printing the shape of the creditcard_data dataframe
creditcard_data.shape

(1973, 31)

In [52]:
#counting the no of occurances of the unique values in the class column
creditcard_data["Class"].value_counts()

0.0    1970
1.0       2
Name: Class, dtype: int64

In [53]:
#splitting the creditcard_dataframe into 2 subsets i.e, legit and fraud
legit = creditcard_data[creditcard_data.Class == 0] #legit transactions
fraud = creditcard_data[creditcard_data.Class == 1] #fraud transactions

In [55]:
#printing the dimensions of the legit and fraud subsets
print(legit.shape)
print(fraud.shape)

(1970, 31)
(2, 31)

In [19]:
#printing the descriptive statistics for the "Amount" column in the legit dataFrame
legit.Amount.describe()

count    1970.000000
mean       68.647518
std       242.308808
min         0.000000
25%         4.990000
50%        15.140000
75%        63.687500
max      7712.430000
Name: Amount, dtype: float64

In [56]:
#printing the descriptive statistics for the "Amount" column in the fraud dataFrame
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [21]:
#seperating the features and the target variables into two seperate subsets
X = creditcard_data.drop(columns = "Class", axis = 1)
Y = creditcard_data["Class"]

In [22]:
#printing first few rows of X dataframe
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [23]:
#printing first few rows of Y dataframe
Y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Class, dtype: float64

In [58]:
import pandas as pd
from collections import Counter
from imblearn.over_sampling import SMOTE

# Loading the creditcard.csv file into a Pandas dataFrame
df = pd.read_csv('creditcard.csv')

# Checking for NaN values in the target variable 'Class'
print(df['Class'].isnull().sum())

# Dropping the rows with NaN values from the target variable 'Class'
df.dropna(subset=['Class'], inplace=True)

# Splitting the creditcard_dataFrame into features (X) and target variable (Y)
X = df.drop('Class', axis=1)
Y = df['Class']

# Applying SMOTE algorithm for handling the class imbalance of the dataset
s = SMOTE(random_state=42)
X_new, Y_new = s.fit_resample(X, Y)

print('Original creditcard_dataset shape is : %s' % Counter (Y))
print('Resampled creditcard_dataset shape is : %s' % Counter(Y_new))

1
Original creditcard_dataset shape is : Counter({0.0: 266855, 1.0: 480})
Resampled creditcard_dataset shape is : Counter({0.0: 266855, 1.0: 266855})

In [59]:
#printing the shape or dimension values of the to subsets
print(X_new.shape)
print(Y_new.shape)

(533710, 30)
(533710,)

In [60]:
#scaling the input features
scaler = preprocessing.MinMaxScaler()
names = X.columns
d = scaler.fit_transform(X_new)
scaled_data = pd.DataFrame(d, columns=names)
scaled_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.000000,0.935192,0.766490,0.841021,0.313023,0.543337,0.546786,0.544502,0.786444,0.475312,...,0.419113,0.561184,0.522992,0.663793,0.423290,0.585122,0.394557,0.653816,0.256589,0.007612
1,0.000000,0.978542,0.770067,0.785989,0.271796,0.548514,0.535598,0.540544,0.786298,0.453981,...,0.414361,0.557840,0.480237,0.666938,0.363989,0.587290,0.446013,0.649710,0.257374,0.000137
2,0.000006,0.935217,0.753118,0.823300,0.268766,0.541195,0.574268,0.551363,0.788042,0.410603,...,0.423170,0.565477,0.546030,0.678939,0.313047,0.559515,0.402727,0.648375,0.255739,0.019264
3,0.000006,0.941878,0.765304,0.823759,0.213661,0.547600,0.562904,0.544478,0.789434,0.414999,...,0.412300,0.559734,0.510277,0.662607,0.242154,0.614245,0.389197,0.651776,0.258400,0.006283
4,0.000012,0.938617,0.776520,0.818086,0.269796,0.542442,0.539259,0.548895,0.782484,0.490950,...,0.421444,0.561327,0.547271,0.663392,0.434127,0.566343,0.507497,0.656289,0.261773,0.003561

In [61]:
#printing the descriptive statistics for the scaled_data
scaled_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
count,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,...,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000,533710.000000
mean,0.518469,0.915454,0.787873,0.696915,0.356823,0.525854,0.522601,0.504424,0.788505,0.416270,...,0.418127,0.568143,0.509170,0.665282,0.405244,0.579754,0.429839,0.652196,0.257975,0.004858
std,0.283138,0.093338,0.038576,0.144386,0.140031,0.053926,0.035111,0.071570,0.053706,0.077271,...,0.015424,0.046561,0.054791,0.015286,0.078888,0.034373,0.072889,0.027632,0.009255,0.011178
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.274098,0.905417,0.766311,0.659042,0.250352,0.523118,0.505256,0.500281,0.783326,0.381449,...,0.412603,0.559001,0.486606,0.662072,0.357011,0.561396,0.381680,0.647981,0.255803,0.000164
50%,0.474209,0.944198,0.778197,0.746792,0.319411,0.541618,0.523083,0.532021,0.787250,0.434453,...,0.415988,0.564093,0.510745,0.664976,0.412441,0.580892,0.423940,0.651580,0.257862,0.001272
75%,0.794983,0.972203,0.798409,0.789311,0.447358,0.552966,0.537880,0.543713,0.794700,0.465284,...,0.421874,0.572171,0.533961,0.668119,0.462920,0.598715,0.475507,0.662422,0.261778,0.005087
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

**Training and Testing creditcard_data**

In [88]:
#splitting the creditcard_dataset into testing and training sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_new, Y_new, test_size = 0.2, random_state = 2)

*LOGISTIC REGRESSION MODEL*

In [89]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Creating and training the Logistic Regression model
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, Y_train)

# Making predictions on the test set and calculating the accuracy
y_pred = lr.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
accuracy_text = "{:.4f}".format(accuracy)

# Printing the accuracy value
print(f"Accuracy of Logistic Regression model is: {accuracy_text}")

Accuracy of Logistic Regression model is: 0.9767

*NAIVE BAYES MODEL*

In [90]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Creating and training the Naive Bayes model
nb = GaussianNB()
nb.fit(X_train, Y_train)

# Making predictions on the test set and calculating the accuracy
y_pred = nb.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
accuracy_text = "{:.4f}".format(accuracy)

# Printing the accuracy value
print(f"Accuracy of Naive Bayes model is: {accuracy_text}")

Accuracy of Naive Bayes model is: 0.8780

*DECISION TREE MODEL*

In [91]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Creating and training the Decision Tree model
dt = DecisionTreeClassifier(criterion="entropy", random_state=0)
dt.fit(X_train, Y_train)

# Making the predictions on the test set and calculating the accuracy
y_pred = dt.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
accuracy_text = "{:.4f}".format(accuracy)

# Printing the accuracy value
print(f"Accuracy of Decision Tree model is: {accuracy_text}")

Accuracy of Decision Tree model is: 0.9986

*LINEAR DISCRIMINANT ANALYSIS (LDA) MODEL*

In [92]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import accuracy_score

# Creating and training the Linear Discriminant Analysis model
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, Y_train)

# Making predictions on the test set and calculating the accuracy
y_pred = lda.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
accuracy_text = "{:.4f}".format(accuracy)

# Printing the accuracy value
print(f"Accuracy of Linear Discriminant Analysis model is: {accuracy_text}")

Accuracy of Linear Discriminant Analysis model is: 0.9358